@use "../../styles/partials/global" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.homepage {
    display: flex;
    flex-direction: column;

    &__heading {
        @include mobilePageHeader;
        font-family: $graffiti-one;
        text-align: center;

        @include tablet {
            @include tabletDesktopPageHeader;
            margin-bottom: 4rem;
        }
    }

    &__button {
        margin: 0 auto;
        background: none;
        border: none;
        @include mobileBody;
        font-family: $graffiti-two;
        color: $accent-color;
        cursor: pointer;

        @include tablet {
            @include tabletDesktopBody;
            margin-bottom: 2rem;
        }
    }

    &__rappers {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
    }

    &__subheading {
        margin: 2rem auto 0rem;
        @include mobileSubheader;
        font-family: $graffiti-one;
        color: $secondary-color;

        @include tablet {
            @include tabletDesktopSubheader;
        }
    }

    &__rappers-table {
        margin: 0rem 0.5rem;
        border: 0.125rem solid $accent-color;
        border-radius: $border-radius;
        display: flex;
        flex-direction: column;
    }

    &__rappers-table-headings {
        display: flex;
    }

    &__rappers-table-name {
        @include mobileBodySmall;
        font-family: $graffiti-two;
        width: 50%;

        @include tablet {
            @include tabletDesktopBodySmall;
        }
    }

    &__rappers-table-w-l {
        @include mobileBodySmall;
        font-family: $graffiti-two;
        width: 20%;

        @include tablet {
            @include tabletDesktopBodySmall;
        }
    }

    &__rappers-table-avg-grade {
        @include mobileBodySmall;
        font-family: $graffiti-two;
        width: 30%;

        @include tablet {
            @include tabletDesktopBodySmall;
        }
    }

    &__battles {
        display: flex;
        flex-direction: column;
    }

    &__click-to-play {
        margin: 0.5rem auto 0rem;
        @include mobileBodySmall;
        font-family: $graffiti-two;
        color: $accent-color;
    }

    &__battles-table {
        margin: 0rem 0.5rem;
        border: 0.125rem solid $accent-color;
        border-radius: $border-radius;
        display: flex;

        &--mobile {
            flex-direction: column;
        }
    }

    &__battles-table-headings {
        display: none;

        @include tablet {
            display: flex;
        }
    }

    &__battles-table-name {
        @include mobileBodySmall;
        font-family: $graffiti-two;
        width: 25%;

        @include tablet {
            @include tabletDesktopBodySmall;
            width: 59%;
        }
    }

    &__battles-table-rappers {
        @include mobileBodySmall;
        font-family: $graffiti-two;
        width: 35%;

        @include tablet {
            @include tabletDesktopBodySmall;
            width: 27%;
        }
    }

    &__battles-table-battles-fought {
        @include mobileBodySmall;
        font-family: $graffiti-two;
        width: 40%;

        @include tablet {
            @include tabletDesktopBodySmall;
            width: 13%;
        }
    }
}
