@use "../../styles/partials/global" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.rapper-stats {
    display: flex;
    align-items: center;
    margin: 0.5rem 0rem;

    &__name {
        width: 50%;
        @include mobileBodySmall;
        font-family: $graffiti-two;
        color: $secondary-color;
        margin: 0;
        @include mobileShadow;

        @include tablet {
            @include tabletBodySmall;
        }

        @include desktop {
            @include desktopBodySmall;
            @include desktopShadow;
        }
    }

    &__w-l {
        width: 30%;
        @include mobileBodySmall;
        font-family: $graffiti-two;
        color: $secondary-color;
        margin: 0;
        @include mobileShadow;

        @include tablet {
            @include tabletBodySmall;
        }

        @include desktop {
            @include desktopBodySmall;
            @include desktopShadow;
        }
    }

    &__avg-grade {
        @include mobileBodySmall;
        font-family: $graffiti-two;
        color: $secondary-color;
        margin: 0;
        @include mobileShadow;

        @include tablet {
            @include tabletBodySmall;
        }

        @include desktop {
            @include desktopBodySmall;
            @include desktopShadow;
        }
    }
}

.battle-info {
    text-decoration: none;
    color: $primary-color;

    &:hover {
        @include keyframes(vibrate) {
            0% {
                transform: translate(0);
                transform: translate(0);
            }
            20% {
                transform: translate(-0.125rem, 0.125rem);
                transform: translate(-0.125rem, 0.125rem);
            }
            40% {
                transform: translate(-0.125rem, -0.125rem);
                transform: translate(-0.125rem, -0.125rem);
            }
            60% {
                transform: translate(0.125rem, 0.125rem);
                transform: translate(0.125rem, 0.125rem);
            }
            80% {
                transform: translate(0.125rem, -0.125rem);
                transform: translate(0.125rem, -0.125rem);
            }
            100% {
                transform: translate(0);
                transform: translate(0);
            }
        }

        @include animate(vibrate, 0.5s, linear, infinite);
    }

    &__container {
        display: flex;
        flex-direction: column;
        margin: 0.5rem 0rem;
        padding-bottom: 1rem;
        border-bottom: 0.5rem dashed $accent-color;

        @include tablet {
            flex-direction: row;
            padding: 2rem 0rem 2rem;
        }

        @include desktop {
            padding: 2rem 0rem;
        }
    }

    &__card-headings {
        @include mobileBodySmall;
        font-family: $graffiti-two;

        @include tablet {
            display: none;
        }
    }

    &__name-container {
        padding-bottom: 0.5rem;

        @include tablet {
            width: 55%;
            margin-right: 4rem;
            display: flex;
            align-items: center;
        }
    }

    &__rappers-battles-fought-container {
        display: flex;
        align-items: flex-start;

        @include tablet {
            width: 45%;
            align-items: center;
        }
    }

    &__rappers-container {
        width: 50%;

        @include tablet {
            @include tabletBodySmall;
            width: 66%;
        }
    }

    &__battles-fought-container {
        text-align: center;
    }

    &__name {
        width: 100%;
        @include mobileBody;
        font-family: $graffiti-two;
        color: $secondary-color;
        margin: 0;
        @include mobileShadow;

        @include tablet {
            @include tabletBody;
        }

        @include desktop {
            @include desktopBody;
            @include desktopShadow;
        }
    }

    &__rappers {
        @include mobileBodySmall;
        font-family: $graffiti-two;
        color: $secondary-color;
        margin: 0;
        @include mobileShadow;

        @include tablet {
            @include tabletBodySmall;
        }

        @include desktop {
            @include desktopBodySmall;
            @include desktopShadow;
        }
    }

    &__total-battles {
        @include mobileBody;
        font-family: $graffiti-two;
        color: $secondary-color;
        margin: 0;
        @include mobileShadow;

        @include tablet {
            @include tabletBody;
            margin-left: 0.85rem;
        }

        @include desktop {
            @include desktopBody;
            @include desktopShadow;
            margin-left: 2.5rem;
        }
    }
}

.homepage {
    display: flex;
    flex-direction: column;

    &__heading {
        @include mobilePageHeader;
        font-family: $graffiti-one;
        text-align: center;
        text-decoration: none;
        color: $primary-color;
        margin-top: 2rem;
        margin-bottom: 2rem;

        @include tablet {
            @include tabletPageHeader;
            margin-bottom: 4rem;
            margin-top: 4rem;
        }

        @include desktop {
            @include desktopPageHeader;
            margin-bottom: 10rem;
            margin-top: 8rem;
        }
    }

    &__button {
        @include mobileButton;

        &:hover {
            @include keyframes(bounce) {
                0% {
                    transform: scale(1, 1);
                }
                50% {
                    transform: scale(1.5, 1.5);
                }
                100% {
                    transform: scale(1, 1);
                }
            }

            @include animate(bounce, 1s, linear, infinite);
        }

        @include tablet {
            @include tabletButton;
        }

        @include desktop {
            @include desktopButton;
        }
    }

    &__rappers {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;

        @include tablet {
            margin-bottom: 4rem;
        }

        @include desktop {
            margin-bottom: 8rem;
        }
    }

    &__subheading {
        margin: 2rem auto 0.5rem;
        @include mobileSubheader;
        font-family: $graffiti-one;
        color: $secondary-color;
        @include mobileShadow;

        @include tablet {
            @include tabletSubheader;
        }

        @include desktop {
            @include desktopSubheader;
            @include desktopShadow;
            margin-bottom: 1rem;
        }
    }

    &__rappers-table {
        margin: 0rem 0.5rem;
        padding: 0rem 1rem 0.5rem;
        border: 0.125rem solid $accent-color;
        border-radius: $border-radius;
        display: flex;
        flex-direction: column;

        @include tablet {
            padding: 0rem 1.5rem 1rem;
        }

        @include desktop {
            padding: 0rem 2.5rem 2rem;
        }
    }

    &__rappers-table-headings {
        display: flex;
    }

    &__rappers-table-name {
        @include mobileBodySmall;
        font-family: $graffiti-two;
        width: 50%;

        @include tablet {
            @include tabletBodySmall;
        }

        @include desktop {
            @include desktopBodySmall;
        }
    }

    &__rappers-table-w-l {
        @include mobileBodySmall;
        font-family: $graffiti-two;
        width: 20%;

        @include tablet {
            @include tabletBodySmall;
        }

        @include desktop {
            @include desktopBodySmall;
        }
    }

    &__rappers-table-avg-grade {
        @include mobileBodySmall;
        font-family: $graffiti-two;
        width: 30%;

        @include tablet {
            @include tabletBodySmall;
        }

        @include desktop {
            @include desktopBodySmall;
        }
    }

    &__battles {
        display: flex;
        flex-direction: column;
    }

    &__click-to-play {
        margin: 0.5rem auto 0.5rem;
        @include mobileBodySmall;
        font-family: $graffiti-two;
        color: $accent-color;
        @include mobileShadow;

        @include tablet {
            margin-bottom: 1rem;
        }

        @include desktop {
            @include tabletBodySmall;
            margin-bottom: 2rem;
        }
    }

    &__battles-table {
        margin: 0rem 0.5rem;
        padding: 0rem 1rem;
        border: 0.125rem solid $accent-color;
        border-radius: $border-radius;
        display: flex;

        @include tablet {
            padding: 0rem 1.5rem;
        }

        @include desktop {
            padding: 0rem 2.5rem;
        }

        &--mobile {
            flex-direction: column;
        }
    }

    &__battles-table-headings {
        display: none;

        @include tablet {
            display: flex;
        }
    }

    &__battles-table-name {
        @include mobileBodySmall;
        font-family: $graffiti-two;
        width: 25%;

        @include tablet {
            @include tabletBodySmall;
            width: 59%;
            margin-bottom: 0;
        }

        @include desktop {
            @include desktopBodySmall;
            width: 57.5%;
        }
    }

    &__battles-table-rappers {
        @include mobileBodySmall;
        font-family: $graffiti-two;
        width: 35%;

        @include tablet {
            @include tabletBodySmall;
            width: 25%;
            margin-bottom: 0;
        }

        @include desktop {
            @include desktopBodySmall;
            width: 28%;
        }
    }

    &__battles-table-battles-fought {
        @include mobileBodySmall;
        font-family: $graffiti-two;
        width: 40%;

        @include tablet {
            @include tabletBodySmall;
            width: 15%;
            margin-bottom: 0;
        }

        @include desktop {
            @include desktopBodySmall;
            width: 14.5%;
            margin-right: 1rem;
        }
    }
}
