@font-face {
    font-family: "tag";
    src: url("../../assets/fonts/fuckingtagfont.woff2") format("woff2"),
        url("../../assets/fonts/fuckingtagfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "rap";
    src: url("../../assets/fonts/RapScript.woff2") format("woff2"),
        url("../../assets/fonts//RapScript.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "marker";
    src: url("../../assets/fonts/MagikMarker.woff2") format("woff2"),
        url("../../assets/fonts/MagikMarker.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
