// Breakout points

$breakpoint-tablet: 48rem;
$breakpoint-desktop: 80rem;

// FONTS
$graffiti-one: "tag";
$graffiti-two: "rap";
$graffiti-three: "marker";

// primary colors
$primary-color: black;
$secondary-color: lightgrey;
$accent-color: #ffff00;

// Padding
$vertical-padding-mobile: 1rem;
$vertical-padding-tablet: 3rem;
$vertical-padding-desktop: 8rem;
$section-padding-mobile: 1rem;

// Border Radius
$border-radius: 1.25rem;
