@use "../../styles/partials/global" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.results {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;

    &__heading {
        @include mobileBody;
        font-family: $graffiti-two;
        color: $secondary-color;
        text-align: center;
        margin: 0;
        padding-bottom: 1rem;
        align-self: center;

        @include tablet {
            @include tabletBody;
        }
    }

    &__main-container {
        display: flex;
        align-items: center;
        border: 0.125rem solid $accent-color;
        border-radius: $border-radius;
        margin-bottom: 2rem;

        @include tablet {
            margin-bottom: 4rem;
        }
    }

    &__rapper-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include tablet {
            padding: 1rem;
        }
    }

    &__name {
        @include mobileBodySmall;
        font-family: $graffiti-two;
        color: $primary-color;
        margin: 0.5rem;

        @include tablet {
            @include tabletBodySmall;
        }
    }

    &__result {
        @include mobileBody;
        font-family: $graffiti-two;
        color: $accent-color;
        margin: 0.5rem;

        @include tablet {
            @include tabletSubheader;
        }
    }

    &__grade {
        @include mobileBodySmall;
        font-family: $graffiti-two;
        color: $secondary-color;
        margin: 0.5rem;

        @include tablet {
            @include tabletBodySmall;
        }
    }

    &__record-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 3rem;
        border: 0.125rem solid $accent-color;
        border-radius: $border-radius;
        padding: 1rem;

        @include tablet {
            padding: 2rem;
            margin-bottom: 4rem;
        }
    }

    &__wins {
        width: 48%;
        @include mobileSubheader;
        font-family: $graffiti-two;
        color: $accent-color;
        text-align: center;
        margin: 0;

        @include tablet {
            @include tabletSubheader;
        }
    }

    &__hyphen {
        width: 4%;
        @include mobileSubheader;
        font-family: $graffiti-two;
        color: $accent-color;
        margin: 0;

        @include tablet {
            @include tabletSubheader;
        }
    }

    &__button {
        margin: 0 auto;
        background: none;
        border: none;
        @include mobileBody;
        font-family: $graffiti-two;
        color: $accent-color;

        @include tablet {
            @include tabletSubheader;
        }
    }
}
