@use "../../styles/partials/global" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.results {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;

    &__heading {
        @include mobileBody;
        font-family: $graffiti-two;
        color: $secondary-color;
        text-align: center;
        margin: 0;
        padding-bottom: 1rem;
        align-self: center;
        @include desktopShadow;

        @include tablet {
            @include tabletBody;
        }

        @include desktop {
            @include desktopBody;
        }
    }

    &__main-container {
        display: flex;
        align-items: center;
        border: 0.125rem solid $accent-color;
        border-radius: $border-radius;
        margin-bottom: 2rem;

        @include tablet {
            margin-bottom: 4rem;
        }
    }

    &__rapper-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;

        &--1-wins {
            @include keyframes(winner1Bounce) {
                0% {
                    transform: translateX(188px);
                    transform: translateX(188px);
                    animation-timing-function: ease-in;
                    animation-timing-function: ease-in;
                    opacity: 1;
                }
                24% {
                    opacity: 1;
                }
                40% {
                    transform: translateX(26px);
                    transform: translateX(26px);
                    animation-timing-function: ease-in;
                    animation-timing-function: ease-in;
                }
                65% {
                    transform: translateX(13px);
                    transform: translateX(13px);
                    animation-timing-function: ease-in;
                    animation-timing-function: ease-in;
                }
                82% {
                    transform: translateX(6.5px);
                    transform: translateX(6.5px);
                    animation-timing-function: ease-in;
                    animation-timing-function: ease-in;
                }
                93% {
                    transform: translateX(4px);
                    transform: translateX(4px);
                    animation-timing-function: ease-in;
                    animation-timing-function: ease-in;
                }
                25%,
                55%,
                75%,
                87%,
                98% {
                    transform: translateX(0px);
                    transform: translateX(0px);
                    animation-timing-function: ease-out;
                    animation-timing-function: ease-out;
                }
                100% {
                    transform: translateX(0px);
                    transform: translateX(0px);
                    animation-timing-function: ease-out;
                    animation-timing-function: ease-out;
                    opacity: 1;
                }
            }
            @include animate(winner1Bounce, 3s, ease-in, 1);
            animation-delay: 3.5s;
        }

        &--1-loses {
            @include keyframes(loser1Roll) {
                0% {
                    -webkit-transform: translateX(0) rotate(0deg);
                    transform: translateX(0) rotate(0deg);
                    opacity: 1;
                }
                100% {
                    -webkit-transform: translateX(-1000px) rotate(-540deg);
                    transform: translateX(-1000px) rotate(-540deg);
                    opacity: 0;
                }
            }
            @include animate(loser1Roll, 3s, ease-out, 1);
            animation-delay: 3.5s;
        }

        &--2-wins {
            @include keyframes(winner2Bounce) {
                0% {
                    -webkit-transform: translateX(-188px);
                    transform: translateX(-188px);
                    -webkit-animation-timing-function: ease-in;
                    animation-timing-function: ease-in;
                    opacity: 1;
                }
                24% {
                    opacity: 1;
                }
                40% {
                    -webkit-transform: translateX(-26px);
                    transform: translateX(-26px);
                    -webkit-animation-timing-function: ease-in;
                    animation-timing-function: ease-in;
                }
                65% {
                    -webkit-transform: translateX(-13px);
                    transform: translateX(-13px);
                    -webkit-animation-timing-function: ease-in;
                    animation-timing-function: ease-in;
                }
                82% {
                    -webkit-transform: translateX(-6.5px);
                    transform: translateX(-6.5px);
                    -webkit-animation-timing-function: ease-in;
                    animation-timing-function: ease-in;
                }
                93% {
                    -webkit-transform: translateX(-4px);
                    transform: translateX(-4px);
                    -webkit-animation-timing-function: ease-in;
                    animation-timing-function: ease-in;
                }
                25%,
                55%,
                75%,
                87%,
                98% {
                    -webkit-transform: translateX(0px);
                    transform: translateX(0px);
                    -webkit-animation-timing-function: ease-out;
                    animation-timing-function: ease-out;
                }
                100% {
                    -webkit-transform: translateX(0px);
                    transform: translateX(0px);
                    -webkit-animation-timing-function: ease-out;
                    animation-timing-function: ease-out;
                    opacity: 1;
                }
            }
            @include animate(winner2Bounce, 3s, ease-in, 1);
            animation-delay: 3.5s;
        }

        &--2-loses {
            @include keyframes(loser2Roll) {
                0% {
                    -webkit-transform: translateX(0) rotate(0deg);
                    transform: translateX(0) rotate(0deg);
                    opacity: 1;
                }
                100% {
                    -webkit-transform: translateX(1000px) rotate(540deg);
                    transform: translateX(1000px) rotate(540deg);
                    opacity: 0;
                }
            }
            @include animate(loser2Roll, 3s, ease-out, 1);
            animation-delay: 3.5s;
        }

        @include tablet {
            padding: 1rem;
        }

        @include desktop {
            padding: 2rem;
        }
    }

    &__name {
        @include mobileBodySmall;
        font-family: $graffiti-two;
        color: $primary-color;
        margin: 0.5rem;

        @include tablet {
            @include tabletBodySmall;
        }

        @include desktop {
            @include desktopBodySmall;
        }
    }

    &__result {
        @include mobileBody;
        font-family: $graffiti-two;
        color: $accent-color;
        margin: 0.5rem;
        @include desktopShadow;

        @include keyframes(bounceIn) {
            0% {
                transform: translateY(-31.25rem);
                transform: translateY(-31.25rem);
                animation-timing-function: ease-in;
                animation-timing-function: ease-in;
                opacity: 0;
            }
            38% {
                transform: translateY(0);
                transform: translateY(0);
                animation-timing-function: ease-out;
                animation-timing-function: ease-out;
                opacity: 1;
            }
            55% {
                transform: translateY(-4.0625rem);
                transform: translateY(-4.0625rem);
                animation-timing-function: ease-in;
                animation-timing-function: ease-in;
            }
            72% {
                transform: translateY(0);
                transform: translateY(0);
                animation-timing-function: ease-out;
                animation-timing-function: ease-out;
            }
            81% {
                transform: translateY(-1.75rem);
                transform: translateY(-1.75rem);
                animation-timing-function: ease-in;
                animation-timing-function: ease-in;
            }
            90% {
                transform: translateY(0);
                transform: translateY(0);
                animation-timing-function: ease-out;
                animation-timing-function: ease-out;
            }
            95% {
                transform: translateY(-0.5rem);
                transform: translateY(-0.5rem);
                animation-timing-function: ease-in;
                animation-timing-function: ease-in;
            }
            100% {
                transform: translateY(0);
                transform: translateY(0);
                animation-timing-function: ease-out;
                animation-timing-function: ease-out;
            }
        }
        @include animate(bounceIn, 3s, linear, 1);

        @include tablet {
            @include tabletSubheader;
        }

        @include desktop {
            @include desktopSubheader;
        }
    }

    &__grade {
        @include mobileBodySmall;
        font-family: $graffiti-two;
        color: $secondary-color;
        margin: 0.5rem;
        @include desktopShadow;

        @include keyframes(swingIn) {
            0% {
                transform: rotateX(-70deg);
                transform: rotateX(-70deg);
                transform-origin: bottom;
                transform-origin: bottom;
                opacity: 0;
            }
            100% {
                transform: rotateX(0);
                transform: rotateX(0);
                transform-origin: bottom;
                transform-origin: bottom;
                opacity: 1;
            }
        }
        @include animate(swingIn, 0.75s, linear, 1);

        @include tablet {
            @include tabletBodySmall;
        }

        @include desktop {
            @include desktopBodySmall;
        }
    }

    &__record-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 3rem;
        border: 0.125rem solid $accent-color;
        border-radius: $border-radius;
        padding: 1rem;

        @include tablet {
            padding: 2rem;
            margin-bottom: 4rem;
        }

        @include desktop {
            padding: 4rem;
            margin-bottom: 5rem;
        }
    }

    &__wins {
        width: 48%;
        @include mobileSubheader;
        font-family: $graffiti-two;
        color: $accent-color;
        text-align: center;
        margin: 0;
        @include desktopShadow;

        @include keyframes(rollInBottom) {
            0% {
                transform: translateY(50rem) rotate(540deg);
                transform: translateY(50rem) rotate(540deg);
                opacity: 0;
            }
            100% {
                transform: translateY(0) rotate(0deg);
                transform: translateY(0) rotate(0deg);
                opacity: 1;
            }
        }
        @include animate(rollInBottom, 2.5s, ease-in, 1);

        @include tablet {
            @include tabletSubheader;
        }

        @include desktop {
            @include desktopSubheader;
        }
    }

    &__hyphen {
        width: 4%;
        @include mobileSubheader;
        font-family: $graffiti-two;
        color: $accent-color;
        margin: 0;
        @include desktopShadow;

        @include tablet {
            @include tabletSubheader;
        }

        @include desktop {
            @include desktopSubheader;
        }
    }

    &__button {
        @include mobileButton;

        @include keyframes(bounce) {
            0% {
                transform: scale(1, 1);
            }
            50% {
                transform: scale(1.5, 1.5);
            }
            100% {
                transform: scale(1, 1);
            }
        }
        @include animate(bounce, 2s, linear, infinite);

        @include tablet {
            @include tabletButton;
        }

        @include desktop {
            @include desktopButton;
        }
    }
}
