@use "../../styles/partials/global" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.battle {
    display: flex;
    flex-direction: column;
    text-align: center;

    &__heading {
        @include mobilePageHeader;
        font-family: $graffiti-one;
        text-decoration: none;
        color: $primary-color;

        @include tablet {
            @include tabletPageHeader;
            font-size: 5rem;
            margin-bottom: 3rem;
        }

        @include desktop {
            @include desktopPageHeader;
            margin-bottom: 6rem;
        }
    }

    &__name {
        @include mobileSubheader;
        font-family: $graffiti-two;
        color: $accent-color;
        text-align: center;
        margin: 2rem auto 1rem;
        width: 80%;

        @include tablet {
            @include tabletSubheader;
            margin-bottom: 2rem;
        }

        @include desktop {
            @include desktopSubheader;
            margin-bottom: 4rem;
        }
    }

    &__loading {
        @include mobileSubheader;
        font-family: $graffiti-one;
        text-align: center;

        @include tablet {
            @include tabletSubheader;
        }

        @include desktop {
            @include desktopSubheader;
        }
    }

    &__rapper-info-container {
        display: flex;

        @include tablet {
            margin-bottom: 2rem;
        }

        @include desktop {
            margin-bottom: 4rem;
        }
    }

    &__button {
        margin: 0 auto;
        background: none;
        border: none;
        @include mobileBody;
        font-family: $graffiti-two;
        color: $accent-color;
        cursor: pointer;

        @include tablet {
            @include tabletBody;
        }

        @include desktop {
            @include desktopBody;
        }
    }
}
