@use "../../styles/partials/global" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.battle-info {
    text-decoration: none;
    color: $primary-color;

    &:hover {
        @include keyframes(vibrate) {
            0% {
                -webkit-transform: translate(0);
                transform: translate(0);
            }
            20% {
                -webkit-transform: translate(-2px, 2px);
                transform: translate(-2px, 2px);
            }
            40% {
                -webkit-transform: translate(-2px, -2px);
                transform: translate(-2px, -2px);
            }
            60% {
                -webkit-transform: translate(2px, 2px);
                transform: translate(2px, 2px);
            }
            80% {
                -webkit-transform: translate(2px, -2px);
                transform: translate(2px, -2px);
            }
            100% {
                -webkit-transform: translate(0);
                transform: translate(0);
            }
        }

        @include animate(vibrate, 0.5s, linear, infinite);
    }

    &__container {
        display: flex;
        flex-direction: column;
        margin: 0.5rem 0rem;
        border-bottom: 0.125rem solid $accent-color;

        @include tablet {
            flex-direction: row;
            padding-bottom: 1rem;
        }

        @include desktop {
            padding: 2rem 0rem;
        }
    }

    &__card-headings {
        @include mobileBodySmall;
        font-family: $graffiti-two;

        @include tablet {
            display: none;
        }
    }

    &__name-container {
        @include tablet {
            width: 55%;
            margin-right: 4rem;
            display: flex;
            align-items: center;
        }
    }

    &__rappers-battles-fought-container {
        display: flex;
        align-items: center;

        @include tablet {
            width: 45%;
        }
    }

    &__rappers-container {
        width: 60%;

        @include tablet {
            @include tabletBodySmall;
            width: 66%;
        }
    }

    &__battles-fought-container {
        text-align: center;
        width: 34%;
    }

    &__name {
        width: 100%;
        @include mobileBody;
        font-family: $graffiti-two;
        color: $secondary-color;
        margin: 0;

        @include tablet {
            @include tabletBody;
        }

        @include desktop {
            @include desktopBody;
        }
    }

    &__rappers {
        @include mobileBodySmall;
        font-family: $graffiti-two;
        color: $secondary-color;
        margin: 0;

        @include tablet {
            @include tabletBodySmall;
        }

        @include desktop {
            @include desktopBodySmall;
        }
    }

    &__total-battles {
        @include mobileBody;
        font-family: $graffiti-two;
        color: $secondary-color;
        margin: 0;

        @include tablet {
            @include tabletBody;
        }

        @include desktop {
            @include desktopBody;
        }
    }
}
