@use "../../styles/partials/global" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.battle-info {
    text-decoration: none;
    color: $primary-color;

    &:hover {
        @include keyframes(vibrate) {
            0% {
                transform: translate(0);
                transform: translate(0);
            }
            20% {
                transform: translate(-0.125rem, 0.125rem);
                transform: translate(-0.125rem, 0.125rem);
            }
            40% {
                transform: translate(-0.125rem, -0.125rem);
                transform: translate(-0.125rem, -0.125rem);
            }
            60% {
                transform: translate(0.125rem, 0.125rem);
                transform: translate(0.125rem, 0.125rem);
            }
            80% {
                transform: translate(0.125rem, -0.125rem);
                transform: translate(0.125rem, -0.125rem);
            }
            100% {
                transform: translate(0);
                transform: translate(0);
            }
        }

        @include animate(vibrate, 0.5s, linear, infinite);
    }

    &__container {
        display: flex;
        flex-direction: column;
        margin: 0.5rem 0rem;
        padding-bottom: 1rem;
        border-bottom: 0.5rem dashed $accent-color;

        @include tablet {
            flex-direction: row;
            padding: 2rem 0rem 2rem;
        }

        @include desktop {
            padding: 2rem 0rem;
        }
    }

    &__card-headings {
        @include mobileBodySmall;
        font-family: $graffiti-two;

        @include tablet {
            display: none;
        }
    }

    &__name-container {
        padding-bottom: 0.5rem;

        @include tablet {
            width: 55%;
            margin-right: 4rem;
            display: flex;
            align-items: center;
        }
    }

    &__rappers-battles-fought-container {
        display: flex;
        align-items: flex-start;

        @include tablet {
            width: 45%;
            align-items: center;
        }
    }

    &__rappers-container {
        width: 50%;

        @include tablet {
            @include tabletBodySmall;
            width: 66%;
        }
    }

    &__battles-fought-container {
        text-align: center;
    }

    &__name {
        width: 100%;
        @include mobileBody;
        font-family: $graffiti-two;
        color: $secondary-color;
        margin: 0;
        @include mobileShadow;

        @include tablet {
            @include tabletBody;
        }

        @include desktop {
            @include desktopBody;
            @include desktopShadow;
        }
    }

    &__rappers {
        @include mobileBodySmall;
        font-family: $graffiti-two;
        color: $secondary-color;
        margin: 0;
        @include mobileShadow;

        @include tablet {
            @include tabletBodySmall;
        }

        @include desktop {
            @include desktopBodySmall;
            @include desktopShadow;
        }
    }

    &__total-battles {
        @include mobileBody;
        font-family: $graffiti-two;
        color: $secondary-color;
        margin: 0;
        @include mobileShadow;

        @include tablet {
            @include tabletBody;
            margin-left: 0.85rem;
        }

        @include desktop {
            @include desktopBody;
            @include desktopShadow;
            margin-left: 2.5rem;
        }
    }
}
